<p id="notice"><%= notice %></p>
<h1>Posts</h1>

<div id="post-box">
  <%= render 'posts/components/new-post' %>
</div>

<div id="my-posts" >
  <% @posts.order(updated_at: :desc).each do |post| %>
    <%= render 'posts/components/post', post: post %>
  <% end %>
</div>
